<div class="container" style="margin-top:15px">
    <div class="row shadow">
        <div class="col">
            <header>
                <h1>
                    {{ title }}
                </h1>
            </header>
        </div>

        <div class="col text-right">
            <nav>
                <a class="btn" routerLink="/about">About</a>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Carousel Place holder</p>
            </div>
        </div>
    </div>


</div>