<div class="container" style="margin:15px">
    <div class="row shadow">
        <div class="col">
            <header>
                <h1>
                    {{ title }}
                </h1>
            </header>
        </div>

        <div class="col text-right">
            <app-menu-dropdown></app-menu-dropdown>
        </div>


    </div>

    <app-picsum-carousel></app-picsum-carousel>
    <app-body-fluid></app-body-fluid>
    <div class="row shadow">
        <app-footer></app-footer>
    </div>

</div>