<div class="container" id="about" style="margin-top:15px">
    <div class="row shadow">
        <div class="col">
            <header>
                <h1>
                    {{ title }}
                </h1>
            </header>
        </div>

        <div class="col text-right">
            <app-menu-dropdown></app-menu-dropdown>
        </div>

    </div>
    <div class="row">
        <app-side-nav></app-side-nav>
        <app-body-col9></app-body-col9>
    </div>

    <div class="row shadow">
        <app-footer></app-footer>
    </div>
</div>