<div class="btn-group" id="menuDropdown">
    <button type="button" class="btn btn-primary">Nav</button>
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item"><a routerLink="/">Home</a></button>
            <button class="dropdown-item"><a routerLink="/about">About</a></button>
        </div>
    </div>

</div>